body {
    background-color: #4285F4;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

.info {
    background-color: #34A853;
    color: white;
    font-weight: 900;
}

table {
    width: 50%;
}

table, tr, td {
    border: 1px solid #FBBC05;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 0.2em;
    color: white;
    font-weight: 900;
}

.fnames {
    width: 50%;
}

.btn {
    display: block;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: -20px;
    width: 8%;
    background-color: #4285F4;
    border: 1px solid #FBBC05;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    border-radius: 0.05em;
    text-align: center;
}

.buttons {
    width: 20%;
}

.extension {
    width: 10%;
}

.currentDir {
    
    display: block;
    margin-left: 25%;
    margin-bottom: -10px;
    width: 50%;
    background-color: #4285F4;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    border-radius: 0.05em;
}