body {
    background-color: #162447;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

.info {
    background-color: #1f4068;
    color: white;
    font-weight: 900;
}

table {
    width: 50%;
}

table, tr, td {
    border: 1px solid #1f4068;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 0.2em;
    color: white;
    font-weight: 900;
}

.fnames {
    width: 50%;
}

.btn {
    display: block;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: -20px;
    width: 5%;
    background-color: #1f4068;
    border: 1px solid #1f4068;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    border-radius: 0.05em;
    text-align: center;
    font-size: 20px;
}

.buttonTD {
    width: 15%;
}

.buttons {
    display: block;
    float: left;
    background-color: #1f4068;
    color: white;
    border: 1px solid #1f4068;
    font-weight: 550;
    margin-right: 5px;
}

.extension {
    width: 10%;
}

.currentDir {
    display: block;
    margin-left: 25%;
    margin-bottom: -10px;
    width: 50%;
    background-color: #162447;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    border-radius: 0.05em;
}

.new_Dir {
    margin-left: 25%;
    margin-top: 10px;
}

.new_Dir>.new_Dir_submit {
    background-color: #1f4068;
    color: white;
    border: 1px solid #1f4068;
    font-weight: 550;
}

.uploadBtn1 {
    display: block;
    float: left;
    background-color: #1f4068;
    color: white;
    border: 1px solid #1f4068;
    font-weight: 550;
    margin-right: 5px;
    margin-left: 25%;
    margin-top: -6px;
}

.uploadBtn2 {
    display: block;
    float: left;
    background-color: #1f4068;
    color: white;
    border: 1px solid #1f4068;
    font-weight: 550;
    margin-right: 5px;
    margin-top: -6px;
}

div.form {
    display: block;
    text-align: center;
    margin-top: 17%;
}

form>.login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.login_input {
    width: 250px;
    height: 30px;
}

.login_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: #ffd700;
    color: white;
    border: 1px solid #1f4068;
    font-weight: 550;
    font-size: 30px;
}

.logout_btn {
    display: block;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: -20px;
    width: 5%;
    background-color: #e43f5a;
    border: 1px solid #1f4068;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    border-radius: 0.05em;
    text-align: center;
    font-size: 20px;
}


